{% extends "base.html" %}
{% block content %}
<meta charset="UTF-8" http-equiv="refresh" content="1000">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/appeal_list.css') }}"/>
<div class="container">
    <div class="row">
        <div class="col-80">
            <table id="data" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>№</th>
                    <th>№ заявки</th>
                    <th>Дата обращения</th>
                    <th>ФИО</th>
                    <th>Номер комнаты</th>
                    <th>Филиал</th>
                    <th>Статус</th>
                    <th>Исполнитель</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-20">
            <div>
                <div class="card-header">
                    № Заявки
                </div>
                <input type="text" id="application_number">
            </div>
            <div>
                <div class="card-header">
                    ФИО Участника
                </div>
                <input type="text" id="user_fio">
            </div>
            <div>
                <div class="card-header">
                    {{ status_form.select.label }}
                </div>
                {{ status_form.select(class="form-select", id="status") }}
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="created_me">
                <label class="form-check-label" for="created_me">Созданные мной</label>
            </div>
            <div>
                <div class="card-header">
                    {{ user_form.select.label }}
                </div>
                {{ user_form.select(class="form-select", id="user") }}
            </div>
            <div>
                <div class="card-header">
                    Дата от:
                </div>
                <div>
                    <input type="text" id="datepicker_min" name="datepicker_min">
                </div>
            </div>
            <div>
                <div class="card-header">
                    Дата до:
                </div>
                <input type="text" id="datepicker_max" name="datepicker_max">
            </div>
            <button id="user-filter-btn" class="btn btn-outline-secondary">Применить фильтры</button>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='javascript/appeal_list.js')}}"></script>
{% endblock %}