{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="col-40">
            <img class="img-responsive" src="{{ url_for('static', filename='main_image.jpg') }}"/>
        </div>
        <div class="col-60">
            {% block create_request %}{% endblock %}
        </div>
    </div>
</div>
<style>
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .wrapper {
        width: 100%;
        overflow: hidden; /* Контейнер clearfix для обеспечения правильного отображения блоков */
    }
    .col-40 {
        float: left;
        width: 512px;
    }
    .col-60 {
        float: left;
        width: calc(100% - 512px);
        min-height: 512px;
        padding: 25px;
    }
    .btn {
        width: 100%;
    }
    @media (max-width: 768px) {
        .col-40, .col-60 {
            width: 100%; /* Оба блока займут по 100% ширины при ширине экрана до 768px */
        }
    }
</style>
{% endblock %}