{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="col-40">
            <img class="img-responsive" src="{{ url_for('static', filename='main_image.jpg') }}"/>
        </div>
        <div class="col-60">

            <form action="" method="POST">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <label for="select_branch" class="form-label">{{ form.select.label }}</label>
                    {{ form.select(class="form-select",id="select_branch") }}
                </div>
                <div class="mb-3">
                    <label for="cabinet_number" class="form-label">{{ form.cabinet_number.label }}</label>
                    {{ form.cabinet_number(class="form-control",id="cabinet_number") }}
                </div>
                <div class="mb-3">
                    {{ form.post.label }}
                    {{ form.post(class='form-control', cols=32, rows=4) }}<br>
                </div>
                <p>{{ form.add(class="btn btn-primary") }}</p>
            </form>
        </div>
    </div>
</div>
<style>
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .wrapper {
        width: 100%;
        overflow: hidden; /* Контейнер clearfix для обеспечения правильного отображения блоков */
    }
    .col-40 {
        float: left;
        width: 512px;
    }
    .col-60 {
        float: left;
        width: calc(100% - 512px);
        min-height: 512px;
        padding: 25px;
    }
    .btn {
        width: 100%;
    }
    @media (max-width: 768px) {
        .col-40, .col-60 {
            width: 100%; /* Оба блока займут по 100% ширины при ширине экрана до 768px */
        }
    }
</style>
{% endblock %}